@charset "UTF-8";
/* CSS Document */

body.homepage {
	background-image:url(../images/bok.jpg);
	background-repeat:no-repeat;
	background-position:center 215px;
	}

#current {
	color: #BD0006;
	}

.backtostart, .agebox {
	width: 100%;
	font-size:24px;
		}
		
.submitage {
	width: 48%;
	font-size:24px;
	float: right;
	}
	
.restebtn {
	width: 48%;
	font-size:24px;
	float: left;
	 }			
		
.backtostart {
	margin-top: 30px;
	}		
		
.message {
	color:#10B000;
	font-size: 24px;
	}	
	
.message_alt {
	color: #F00;
	font-size:24px;
	}
	
.warning_message {
	color: #F00;
	font-size: 18px;
	}			