@charset "UTF-8";
/* CSS Document */

#current {
	color: #BD0006;
	}

.backtostart, .submitage, .agebox {
	width: 100%;
	font-size:24px;
		}
		
.backtostart {
	margin-top: 30px;
	}		
		
.message {
	color:#10B000;
	font-size: 24px;
	}	
	
.message_alt {
	color: #F00;
	font-size:24px;
	}		